<header class="header">
  <div class="site-container header__inner">
    <div class="header-left">
      <div class="logo">
        <img src="assets/images/icons/LogoSC.svg" alt="Logo SC">
      </div>
      <nav class="nav">
        <button class="nav-btn">
          Главное
        </button>

        <button class="nav-btn grey">
          Сервисы
        </button>
      </nav>
      <button class="add-btn">
        Добавить объявление
        <img class="add-btn__icon" src="assets/images/icons/plus.svg" alt="" aria-hidden="true">
      </button>
    </div>

    <div class="actions">
      <button class="action-item message" aria-label="Messages">
        <div class="action-icon">
          <img class="action-item__icon" src="assets/images/icons/message.svg" alt="" aria-hidden="true">
        </div>
        <span class="action-label">Входящие</span>
      </button>

      <button class="action-item journal" aria-label="Journal">
        <div class="action-icon">
          <img class="action-item__icon" src="assets/images/icons/journal.svg" alt="" aria-hidden="true">
        </div>
        <span class="action-label">Журнал</span>
      </button>

      <button class="action-item favorite" aria-label="Favorites">
        <div class="action-icon">
          <img class="action-item__icon" src="assets/images/icons/favorite.svg" alt="" aria-hidden="true">
        </div>
        <span class="action-label">Желаемое</span>
      </button>

      <button class="action-item cart" aria-label="Cart">
        <div class="action-icon">
          <img class="action-item__icon" src="assets/images/icons/cart.svg" alt="" aria-hidden="true">
        </div>
        <span class="action-label">Корзина</span>
      </button>

      <button class="action-item" aria-label="Notifications">
        <div class="action-icon notification">
          <img class="action-item__icon" src="assets/images/icons/notification.svg" alt="" aria-hidden="true">
          <span class="badge">4</span>
        </div>
        <span class="action-label">Уведомления</span>
      </button>

      <button class="action-item profile" aria-label="Profile">
        <div class="action-icon">
          <img class="action-item__icon" src="assets/images/icons/profile.svg" alt="" aria-hidden="true">
        </div>
        <span class="action-label">Войти</span>
      </button>
    </div>
  </div>
</header>
